@page "/notfound"
@layout ProdAnalysis.Web.Components.Layout.MainLayout

<PageTitle>Not found</PageTitle>

<h3>Страница не найдена</h3>
<div>По этому адресу ничего нет.</div>
<div style="margin-top:10px;">
    <a href="/">На главную</a>
</div>
