<div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Connection lost</h5>
            </div>
            <div class="modal-body">
                <p>Trying to reconnect…</p>
            </div>
        </div>
    </div>
</div>

<script type="module" src="Components/Layout/ReconnectModal.razor.js"></script>
